@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --cor-primaria- : black;
    --cor-secundaria- : #f6f6f6;
    --cor-terciaria- : #22D4FD;
    --cor-hover- : #272727;
}

body {
    background-color: var(--cor-primaria-);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 100;
    padding: 0%;
    margin: 0%;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    margin: 5% 21.5%;
    justify-content: space-between;
}

.cabecalho-navegacao-link {
    background-color: var(--cor-primaria-);
    color: var(--cor-terciaria-);
    margin: 0px 25px;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 64px;
}

.conteudo-escrito-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    margin: 0px 30px;
    text-align: justify;
}

.titulo-principal {
    color: var(--cor-secundaria-);
    font-size: 2.19rem;
    font-weight: bold;
}

span {
    color: var(--cor-terciaria-);
}

.texto-principal {
    color: var(--cor-secundaria-);
    font-size: 1.25rem;
    margin: 40px 0px;
}

.campo-botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.campo-botoes-titulo {
    color: var(--cor-secundaria-);
    font-size: 1.5rem;
    font-weight: bold;
}

.campo-botoes a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 75px;
    margin: 15px 0px;
    width: 40%;
    background-color: var(--cor-primaria-);
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 10px;
    border: var(--cor-terciaria-) 1px solid;
    text-align: center;
    text-decoration: none;
    align-items: center;
    color: var(--cor-secundaria-);

}

.campo-botoes a:hover {
    background-color: var(--cor-hover-);
}

.campo-botoes img {
    margin: 0px 15px;
}

.imagem-portifolio {
    width: 30%;
    height: 30%;
}

.rodape {
    background-color: var(--cor-terciaria-);
    text-align: center;
    padding: 20px;
}

.rodape-texto {
    color: var(--cor-secundaria-);
    font-size: 1.5rem;
    font-weight: 400;
}